{% extends "base.html" %}

{% block content %}

    <div class="container">
        <div class="row mt-4 pt-4">
            <div class="col text-center mb-3">Cadastro de Transações</div>
        </div>
        <form method="POST" action="">
            <div class="row">
                <div class="col">
                    {% csrf_token %}
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col text-center">Conta a ser debitada</div>
                <div class="col text-center">Valor</div>
                <div class="col text-center">Conta a ser creditada</div>
            </div>

            <div class="row justify-content-center mt-4">
                <div class="col text-center">
                    <select class="form-select" name="debit_account" aria-label=".form-select-lg example">
                        <option selected>Escolha</option>
                    </select>
                </div>
                <div class="col text-center">
                    <input type="text" name="value" id="value">
                </div>
                <div class="col text-center">
                    <select class="form-select" name="credit_account" aria-label=".form-select-lg example">
                        <option selected>Escolha</option>
                    </select>
                </div>
            </div>
            <div class="row">

            </div>
        </form>
    </div>
{% endblock %}

<select class="form-select form-select-lg mb-3" name="credit_account" aria-label=".form-select-lg example">
                      <option selected>Escolha</option>
                  </select>