{% extends "base.html" %}

{% block content %}

<div class="container" style="max-width: 480px;">
    <div class="row mt-4 pt-4">
        <div class="col text-center mb-3">Faça seu Cadastro</div>
    </div>
    <div class="row">
        <div class="col text-center">
            <form method="POST" action="">
                {% csrf_token %}
              <div class="mb-3">
                <input type="text" class="form-control" id="inputUsername" name="username" placeholder="Informe o seu nome de usuário" required>
              </div>
              <div class="mb-3">
                <input type="password" class="form-control" id="inputUserPassword" name="password" placeholder="Informe a sua senha" required>
              </div>
                <div class="mb-3">
                    <input type="email" class="form-control" name="email" id="userEmail" placeholder="Informe o seu e-mail" required>
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" name="first-name" id="userFirstName" placeholder="Informe o seu nome" required>
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" name="last-name" id="userLastName" placeholder="Informe o seu sobrenome" required>
                </div>
              <!--
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
              </div>
              -->
              <div class="mb-3">
                  <button type="submit" class="btn btn-primary">Cadastrar</button>
              </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}