{% extends "base.html" %}

{% block content %}

<div class="container" style="max-width: 800px  ">
    {% if user.is_authenticated %}
        <div class="row">
            <div class="col text-center">
                <h1>Sistema de Finanças Pessoais</h1>
                <div class="row">
                    <div class="col">
                        <a href="{% url 'users:detail' %}">Perfil</a>
                        <a href="{% url 'logout' %}">Logout</a>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    <div class="row">
        <div class="col text-center">
            {% if financial_accounts %}
                <h4>Você tem atualmente <a href="{% url 'users:list_accounts' %}">{{ financial_accounts|length }} contas</a> cadastradas</h4>
            {% else %}
                <h4>Você não possui contas cadastradas. <a href="{% url 'financial_accounts:new' %}">Cadastre a primeira</a></h4>
            {% endif %}
        </div>
    </div>
    <div>
         <div class="col text-center">
            {% if transactions %}
                <h4>Você tem atualmente <a href="{% url 'users:list_transactions' %}">{{ transactions|length }} transações</a> registradas</h4>
            {% else %}
                <h4>Você não possui transações registradas. <a href="{% url 'transactions:new' %}">Cadastre a primeira</a></h4>
            {% endif %}
        </div>
    </div>
    {% else %}
        <div class="row">
            <div class="col justify-content-center">
                Você precisa estar logado para acessar essa página. <a href="{% url 'login' %}">Fazer login</a>
            </div>
        </div>
    {% endif %}
</div>


{% endblock %}